{% extends './layout.html' %}
{% load static %}


{% block content %}

{% if not valid %}
<div class="container">
    <div class="row">

        <div class="container-fluid">
            <form class="form-horizontal" action="/checkin" method="GET" enctype="multipart/form-data"
                oninput="6===event.target.value.length&amp;&amp;this.submit()">
                <span class="heading">{{header}}</span>
                <div class="form-group help">
                    <input type="text" class="form-control" id="password" name="password" placeholder="Код приглашения"
                        maxlength="6" pattern="[0-9]*" inputmode="numeric" x-inputmode="numeric" data-error=""
                        oninput="this.value=this.value.replace(/[^0-9]/,&quot;&quot;)">
                    <i class="fa fa-envelope-o"></i>
                    <a href="" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">ВХОД</button>
                </div>
            </form>
        </div>

    </div><!-- /.row -->
</div>
{% else %}



<form action="/checkin" method="POST" enctype="multipart/form-data" class="form-inline md-form", id="uplForm">
    {% csrf_token %}
    <main class="main_full">
        <div class="container">
            <div class="panel">
                <div class="button_outer">
                    <div class="success_box"></div>
                    <div class="btn_upload" >
                        <div id='input_div'>
                        <input type="file" id="upload_file" accept=".png, .jpg, .jpeg" name="file_img">
                        Ваше фото
                        </div>
                        <div id='spinner'>
                        <span class="spinner-border spinner-border-sm " id='spinner1' role="status" aria-hidden="true"></span>
                        <span class="sr-only " id='spinner2' >Loading...</span>
                        </div>
                    </div>
                    </div>
                    <div class="processing_bar" style='display:none;'></div>
                    
                </div>
            </div>
            <div class="error_msg">{{no_face}}</div>
            <div class="uploaded_file_view" id="uploaded_view">
                <!-- <span class="file_remove">X</span> -->

            </div>
            <div>
                <!-- <button type="submit" name="upload_image" id="btn_submit" style="position: absolute;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);background:#00b4ef;"
                 class="btn btn-primary btn-submit">Загрузить изображение</button> -->
            </div>
            <div id="progress-box" class="not_vivible">

            </div>
        </div>

    </main>
    <input id="id" name="id" style="display:none;" value="{{id}}">
    <input id="name" name="name" style="display:none;" value="{{name}}">
    <input id="password" name="invite_code" style="display:none;" value="{{password}}">
</form>


{% endif %}





{%if not valid %}
<link rel="stylesheet" href = {% static 'upload_app/css/style_code.css' %} />
{% else %}
<link rel="stylesheet" href = {% static 'upload_app/css/style_uploading.css' %} />
<script src={% static 'upload_app/js/script.js' %} defer></script>

{% endif %}


{% endblock %}