*.log
face/logs/warning.log
**/logs
**/__pycache__/
*.pyc
face/logs/warning.log
face/upload_app/__pycache__/views.cpython-310.pyc
face/upload_app/__pycache__/views.cpython-310.pyc
face/upload_app/modules/__pycache__/db.cpython-310.pyc
face/logs/warning.log
