.body{
    display: block;
}


.status {
    background: #00b4ef;
    border-radius: 30px;
    text-align: center;
    height: 10px;
    width: 10%;
    display: inline-block;
    transition: .2s;
    position: relative;
    overflow: hidden;
    margin-right: auto;
}

/* .status_uploading {
    transform: rotate(180deg);
    flex: 0 5vw;
    order: -1;
    width: 100%;
    height: 13px;
    margin-top: -94vh;
    margin-left:4vh;
    margin-right:4vh;
    background: #ccc;
} 
dddddddddddddddddddd
*/ 