{% extends 'layout.html' %}

{% block content %}
  <div class="form-group" style="margin-top: 100px; display: flex;align-items: center;justify-content: center">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" name="action" class="btn btn-primary mb-2">submit</button>
        </form>
    </div>

    {% for el in face %}
    <div class="face" style="margin-top: 100px; display: flex;align-items: center;justify-content: center">
<!--        <h3> {{el.face_id}}</h3>-->
        <h4> {{el.face_name_ch}}</h4>
<!--        <h4> {{el.face_img}}</h4>-->


        <img src="{{el.face_img.url}}" alt="{{el.face_name}}" width="120" height="90" />

    </div>
    {% endfor %}

    {% endblock %}