html {
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}


/* .content::before{
    content: '';
    display: inline-block;
    height:100%;
    vertical-align: middle;
} */
.content {
    padding: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    /*Центрирование по горизонтали*/
    align-items: center;
    flex-direction: column;

}

/* ---------------------------------- ЦВЕТ И ОТСТУП ЗОНЫ ПИНКОДА -------------------------------------*/
/* Andrew */
.form__pincode {
    background-color: #fddfc6;
    border-radius: 15px;
    height: 50px;
}

/* ----------------------------------------------------------------------------------------------------*/


body {

    /* width:80%;
    height:80%; */
    background-color: #383c4c;
    /* background: -ms-linear-gradient(top left, #663faa 0%, #585fd5 100%);
    background: -webkit-linear-gradient(top left, #663faa, #585fd5);
    background: -o-linear-gradient(top left, #663faa, #585fd5);
    background: -moz-linear-gradient(top left, #663faa, #585fd5);
    background: linear-gradient(top left, #663faa, #585fd5); */
    background-repeat: no-repeat;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    /* <--------------------- Andrew */
    /*font-family: 'Open Sans', Helvetica, Arial, sans-serif;*/
    font-size: 14px;
    min-width: 100%;
    min-height: 100%;


}


.form {
    display: block;
    margin-top: 0em;

}

h1 {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    /* <------------------ Andrew */
    display: block;
    font-size: 2vh;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.form__group--error>input {
    background-color: #eb3b3b;
    color: white;
    opacity: 1;
}

.form__group--success>input {
    background-color: rgb(64, 243, 58);
    color: white;
    opacity: 1;
}


.form_pincode {
    display: block;
    width: 100%;
    margin: 10px auto 20px;
    padding: 0;

}

.form__pincode:before, .form__pincode:after {
    display: table;
    content: '';
}

.form__pincode>label {
    display: block;
    text-align: center;
    margin: 3vh 0;

}

label {
    cursor: default;
}

.container {
    zoom: 1;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
    background: #fff;
    width: 320px;
    min-height: 400px;
    border-radius: 15px;
    /* 3px <------------------------------------ andrew */
    margin: 0 auto;


    transform: translate(0px, 20px);
    /* <--------------------------- Andrew */
}

.container h1 {
    position: relative;
    display: inline-block;
    color: #000;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px;
    padding: 20px;

    transform: translate(0px, 35px);
    /* <---------------------------------- Andrew */
}

/*  Andrew
.form_group {
    margin: 4vh 0 0;
}
*/

.form__pincode>input {
    display: inline-block;
    float: left;
    width: 15%;
    height: 50px;
    line-height: 48px;
    text-align: center;
    font-size: 2em;
    color: #181819;
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px 2px 0 0;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    cursor: default;
    user-select: none;
    margin: 0;
    margin-top: 5vh;
    margin-right: 2%;
    padding: 0;
}

.button {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    margin: 2vh;
    padding: 0 10px;
}

.button--primary {
    background-color: #4776e6;
    color: #fff;
    line-height: 48px;
    border: 1px solid transparent;
    border-radius: 50px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
    -webkit-touch-callout: none;

}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.form__pincode>input:last-child {
    margin-right: 0;
}

.form__pincode:after {
    clear: both;
}

.form__buttons {
    text-align: center;
    margin: 0 auto;
    padding: 10px 0 0;
}

@media only screen and (max-width: 900px) {
    .container {
        zoom: 0;
    }

    html {
        /* width:130%; */
    }

}


.container h1:after {

    background: #000;
    content: '';
    height: 3px;
    width: 50%;
    margin: 20px auto 0;
    padding: 0;
    transition: 0.1s;
}

.container .extra_h1::after {
    display: block;
    background: #000;
    content: '';
    height: 3px;
    width: 60%;
    margin: 20px auto 0;
    padding: 0;
    transition: 0.1s;
}

.button--primary[disabled] {
    background-color: #4776e6;
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.not_visible {
    display: none;
}

.spinner-border-sm {
    width: 2rem;
    height: 2rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.panel {
    /* background-color: #f6f6f6; */
    margin: 79px auto 51px;
    max-width: 500px;
    text-align: center;
    border: none;
    box-shadow: none;
}

.button_outer {
    background: #fddfc6;
    /* <-------------------------------- Andrew */
    border-radius: 18px;
    text-align: center;
    height: 50px;
    width: 200px;
    display: inline-block;
    transition: .5s;
    position: relative;
    overflow: hidden;

    transform: translate(0px, 35px);
    /* <---------------------------------- Andrew */
}


.btn_upload {
    padding: 9px 30px 12px;
    color: black;
    /* <-------------------------------- Andrew */
    text-align: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 3;
    white-space: nowrap;

}

.btn_upload input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    width: 100%;
    height: 105%;
    cursor: pointer;
    opacity: 0;
}

.file_uploading {
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background: transparent;
}

.file_uploading .btn_upload {
    display: none;
}

.processing_bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    border-radius: 30px;
    background: #663faa;
    ;
    transition: .8s;
}

.file_uploading .processing_bar {
    width: 1%;
    transition: .8s;
}

.success_box {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
}

.success_box:before {
    content: '';
    display: block;
    width: 14px;
    height: 25px;
    border-bottom: 6px solid #fff;
    border-right: 6px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    transition: 1s;
    left: 17px;
    top: 10px;
}

.file_uploaded .success_box {
    display: inline-block;
}


.file_uploaded {
    margin-top: 0;
    width: 50px;
    /*background: #663faa;*/
    background: #58BB58;
    /* <------------------------ Andrew */
    height: 50px;
}

.uploaded_file_view {
    max-width: 300px;
    margin: 40px auto;
    text-align: center;
    position: relative;
    transition: .2s;
    opacity: 0;
    border: 2px solid #ddd;
    padding: 15px;
}

.file_remove {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    position: absolute;
    background: #aaa;
    line-height: 30px;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    right: -15px;
    top: -15px;
}

.file_remove:hover {
    background: #222;
    transition: .2s;
}

.uploaded_file_view img {
    max-width: 100%;
}

.uploaded_file_view.show {
    opacity: 1;
}

.error_msg {
    margin-bottom: 30px;
    margin-top: 70px;
    text-align: center;
    color: black;
}

.btn-submit {
    display: none;
}

.button {
    margin: auto;
    background: #663faa;
}


.not_visible {
    display: none;
}

.panel>.button_outer:hover {
    background: orange;
    /* #663faa <-------------------------------- Andrew */
    transition: 0.3s;
}



/*  --------------------------------------- Progress bar ----------------------------------------  */

#steps {

    margin: 50px auto;
    display: flex;
    align-items: center;
    width: 325px;
    /* <------------------- Andrew */
}

.step {
    width: 45px;
    /*  40 < -------------- Andrew*/
    height: 45px;
    /*  40 < -------------- Andrew*/
    background-color: white;
    display: inline-block;
    border: 4px solid;
    border-color: transparent;
    border-radius: 25%;

    /*    color: #CDD0DA;
    font-weight: 600;
    text-align: center;
    line-height: 30px;*/

    /* Andrew */
    /*color: #CDD0DA;*/
    font-weight: 300;
    color: #EF7D00;
    /* ЦВЕТ ЦИФР в STEP*/
}

.step:first-child {
    text-align: center;
    /* <------ Andrew */
    line-height: 35px;
}

.step:nth-child(n+2) {
    /*    margin: 0 0 0 100px;*/
    /* transform: translate(0, -4px); */

    /* Andrew */
    text-align: center;
    margin: 0 0 0 94px;
    line-height: 35px;
    font-size: 27px;
}

.step:nth-child(n+2):before {
    width: 75px;
    height: 6px;
    /* 3px <------------- Andrew */
    display: block;
    /* --------------------------------------------------------------------------------*/
    background-color: white;
    /*transform: translate(-95px, 21px);*/
    transform: translate(-88px, 21px);
    /* <------------- Andrew */

    margin-top: -7px;
    content: '';

    border-radius: 3px;
    /* <------------- Andrew */
}

.step:after {
    width: 150px;
    display: block;
    /*transform: translate(-55px, 3px);*/
    transform: translate(-55px, 2px);
    /* <------------- Andrew  desc 2 3 */

    /*color: #CDD0DA;*/
    color: #383c4c;

    content: attr(data-desc);
    font-weight: 400;
    font-size: 13px;
}

.step:first-child:after {
    /*transform: translate(-55px, -1px); */
    transform: translate(-55px, 6px);
    /* <---------------- Andrew */
    font-weight: 400;
    font-size: 13px;
    color: #58BB58;
    /* <-------------------------- Andrew */
}

.step.active {
    background-color: #EF7D00;
    color: white;
    font-size: 22px;
}

.step.active:before {
    background: linear-gradient(to right, #58BB58 0%,
            #EF7D00 100%);
    /*transform: translate(-88px, 15px);  */
    /* <--------------------------------------------- */
    margin-top: -7px;
}

.step.active:after {
    /*color: #EF7D00;*/
    color: #383c4c;
}

.step.done {
    background-color: #58BB58;
    border-color: #58BB58;
    color: white;
}

.step.done:before {
    background-color: #58BB58;
    background: #58BB58;
}

.step.done:after {
    visibility: collapse;
    transform: translate(-55px, 6px);
    /* <---------------- Andrew */
    /*color: #58BB58;*/
    color: #383c4c;
}

.step:before {
    background: linear-gradient(to right, #EF7D00 0%, white 70%);
}


/* Исправляем позицию и размер цифр */
#first_step {
    font-size: 28px;
    padding-top: 3px;
}

#first_step:hover {
    background: #EF7D00;
    border-color: #EF7D00;
}

#second_step {
    font-size: 28px;
    padding-top: 2px;
}

#third_step {
    font-size: 28px;
    padding-top: 2px;
}


#steps_info {
    margin: 1px auto;
    display: flex;
    align-items: center;
    width: 325px;
}

.step_info {
    display: inline-block;
}

#first_step_info {
    color: #58BB58;
    transform: translate(-30px, -30px);
    text-align: center;
}

#second_step_info {
    transform: translate(-5px, -30px);
    color: #EF7D00;
    text-align: center;
}

#third_step_info {
    transform: translate(25px, -30px);
    color: white;
    text-align: center;
}

#third_step_info:hover {

    color: #EF7D00;

}

.inst {
    display: flex;
    justify-content: center;
}

.icon:hover {
    fill: #EF7D00;
}



.invisible {
    display: none;
}

.img {
    animation: 2s show ease;
    max-width: 1000px;
}

img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 500px;
    margin: 29px 0px 17px -2px;


}

.forma {
    animation: 2s show ease;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}